In [39]:

# @hidden_cell
# The following code contains the credentials for a connection in your Project.
# You might want to remove those credentials before you share your notebook.
credentials_2 = {
    'username': '72f539f9-bad6-4c67-bade-f9ac598f7ddd-bluemix',
    'password': """749d4ee8d6644c9fd2ecc1eb2e26b950ffe69ce88544b47d3af86db8d474403b""",
    'custom_url': 'https://72f539f9-bad6-4c67-bade-f9ac598f7ddd-bluemix:749d4ee8d6644c9fd2ecc1eb2e26b950ffe69ce88544b47d3af86db8d474403b@72f539f9-bad6-4c67-bade-f9ac598f7ddd-bluemix.cloudantnosqldb.appdomain.cloud',
    'url': 'https://undefined'
}

In [40]:
spark = SparkSession\
    .builder\
    .appName("Cloudant Spark SQL Example in Python using temp tables")\
    .config("cloudant.host",credentials_2['custom_url'].split(':')[2].split('@')[1])\
    .config("cloudant.username", credentials_2['username'])\
    .config("cloudant.password",credentials_2['password'])\
    .config("jsonstore.rdd.partitions", 1)\
    .getOrCreate()

In [41]:
#Please don't modify this function
def readDataFrameFromCloudant(database):
    cloudantdata=spark.read.load(database, "com.cloudant.spark")
    cloudantdata.createOrReplaceTempView("washing")
    spark.sql("SELECT * from washing").show()
    return cloudantdata

In [42]:



spark.catalog.listTables()

[]

In [43]:
df=readDataFrameFromCloudant(database)

+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|                 _id|                _rev|count|flowrate|fluidlevel|frequency|hardness|speed|temperature|           ts|voltage|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|0d6086714dcdc0869...|1-f45a9af17af0ac9...|    4|      11|acceptable|     null|      76| null|         96|1561239396147|   null|
|0d6086714dcdc0869...|1-f179a35f4474a8c...|   12|      11|acceptable|     null|      71| null|         84|1561239404168|   null|
|0d6086714dcdc0869...|1-7bd8dc12a7fcd39...|   16|      11|acceptable|     null|      76| null|         96|1561239408179|   null|
|0d6086714dcdc0869...|1-50473dedbb4a158...|   18|      11|acceptable|     null|      77| null|         83|1561239410182|   null|
|0d6086714dcdc0869...|1-615fa84a1cec6ec...|   15|    null|      null|       66|    null| null|       null|1561239437175|    233|
|0d6086714dcdc0869...|1-4fd0d98f680cabd...|   21|    null|      null|       73|    null| null|       null|1561239455224|    221|
|0d6086714dcdc0869...|1-7c61833b1cbc822...|   13|    null|      null|     null|    null| 1097|       null|1561239457162|   null|
|0d6086714dcdc0869...|1-e7855bc308d655b...|   26|    null|      null|       65|    null| null|       null|1561239470234|    237|
|0d6086714dcdc0869...|1-9b891303dfeaf59...|   81|      11|acceptable|     null|      72| null|         89|1561239473341|   null|
|0d6086714dcdc0869...|1-da23ee10093d6a8...|   19|    null|      null|     null|    null| 1080|       null|1561239487174|   null|
|0d6086714dcdc0869...|1-371b2d2733f311b...|   98|      11|acceptable|     null|      70| null|        100|1561239490382|   null|
|0d6086714dcdc0869...|1-74eca93a8e927f4...|  103|      11|acceptable|     null|      76| null|         83|1561239495403|   null|
|110db569937976dea...|1-58b6cda5c352f34...|    1|    null|      null|     null|    null| 1059|       null|1561239397146|   null|
|110db569937976dea...|1-9b03f94e8336b0e...|   21|      11|acceptable|     null|      70| null|         99|1561239413184|   null|
|110db569937976dea...|1-da7985ac2c9d431...|    5|    null|      null|     null|    null| 1075|       null|1561239417151|   null|
|110db569937976dea...|1-bc9af94e85538a2...|    9|    null|      null|       66|    null| null|       null|1561239419158|    229|
|110db569937976dea...|1-253d52e37f7257a...|   39|      11|acceptable|     null|      75| null|         90|1561239431243|   null|
|110db569937976dea...|1-9b32f7857a5f862...|   50|      11|acceptable|     null|      72| null|         92|1561239442265|   null|
|110db569937976dea...|1-109ac73a116a830...|   51|      11|acceptable|     null|      71| null|         86|1561239443267|   null|
|110db569937976dea...|1-d39a3b952d38648...|   18|    null|      null|       62|    null| null|       null|1561239446179|    237|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
only showing top 20 rows


Welcome to Assignment 3. This will be even more fun. Now we will calculate statistical measures on the test data you have created.

YOU ARE NOT ALLOWED TO USE ANY OTHER 3RD PARTY LIBRARIES LIKE PANDAS. PLEASE ONLY MODIFY CONTENT INSIDE THE FUNCTION SKELETONS
Please read why: https://www.coursera.org/learn/exploring-visualizing-iot-data/discussions/weeks/3/threads/skjCbNgeEeapeQ5W6suLkA
. Just make sure you hit the play button on each cell from top to down. There are seven functions you have to implement. Please also make sure than on each change on a function you hit the play button again on the corresponding cell to make it available to the rest of this notebook.
Please also make sure to only implement the function bodies and DON'T add any additional code outside functions since this might confuse the autograder.

So the function below is used to make it easy for you to create a data frame from a cloudant data frame using the so called "DataSource" which is some sort of a plugin which allows ApacheSpark to use different data sources.

All functions can be implemented using DataFrames, ApacheSparkSQL or RDDs. We are only interested in the result. You are given the reference to the data frame in the "df" parameter and in case you want to use SQL just use the "spark" parameter which is a reference to the global SparkSession object. Finally if you want to use RDDs just use "df.rdd" for obtaining a reference to the underlying RDD object. 

Let's start with the first function. Please calculate the minimal temperature for the test data set you have created. We've provided a little skeleton for you in case you want to use SQL. You can use this skeleton for all subsequent functions. Everything can be implemented using SQL only if you like.

In [250]:
#Please implement a function returning the number of rows in the dataframe
def minTemperature(df,spark):
    df = spark.sql("select * from washing")
    row1 = df.agg({"temperature": "min"}).collect()[0]
    min_ = row1["min(temperature)"]
    #some reference: https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame
    return min_

Please now do the same for the mean of the temperature

In [251]:
def meanTemperature(df,spark):
    df = spark.sql("select * from washing")
    mean_ = spark.sql("select avg(temperature) from washing").collect()[0][0] # selecting 1st row and first column
    return mean_

Please now do the same for the maximum of the temperature

In [252]:
def sdTemperature(df,spark):
    df = spark.sql("select * from washing")
    std_ = spark.sql("select std(temperature) from washing").collect()[0][0]
    return std_

Please now do the same for the skew of the temperature. Since the SQL statement for this is a bit more complicated we've provided a skeleton for you. You have to insert custom code at four position in order to make the function work. Alternatively you can also remove everything and implement if on your own. Note that we are making use of two previously defined functions, so please make sure they are correct. Also note that we are making use of python's string formatting capabilitis where the results of the two function calls to "meanTemperature" and "sdTemperature" are inserted at the "%s" symbols in the SQL string.

In [254]:
def skewTemperature(df,spark):    
    return spark.sql("""
SELECT 
    (
        1/count(temperature)
    ) *
    (SUM (
    POWER(temperature-%s,3))/POWER(%s,3)
    )

as sktemperature from washing
                    """ %(meanTemperature(df,spark),sdTemperature(df,spark))).first().sktemperature

Kurtosis is the 4th statistical moment, so if you are smart you can make use of the code for skew which is the 3rd statistical moment. Actually only two things are different.

In [168]:
def kurtosisTemperature(df,spark):    
    return spark.sql("""
SELECT 
    (
        1/count(temperature)
    ) *
    (SUM (
    POWER(temperature-%s,4))/POWER(%s,4)
    )

as sktemperature from washing
                    """ %(meanTemperature(df,spark),sdTemperature(df,spark))).first().sktemperature

Just a hint. This can be solved easily using SQL as well, but as shown in the lecture also using RDDs.

In [ ]:
(sqrt(sum(POWER((temperature-avg(temperature)),2))*sum(POWER((hardness-avg(hardness)),2)) *(hardness-avg(hardness)))

In [266]:
def correlationTemperatureHardness(df,spark):
    df = spark.sql("select * from washing")
    cor= spark.sql("SELECT ((count(temperature)*sum(temperature*hardness)-sum(temperature)*sum(hardness))/(sqrt(count(temperature)*sum(temperature*temperature)-sum(temperature)*sum(temperature)*sqrt(count(hardness)*sum(hardness*hardness)-sum(hardness)*sum(hardness))))) from washing").collect()[0][0]
    return cor

In [249]:
correlationTemperatureHardness(df,spark)

[Row((CAST(((count(temperature) * sum((temperature * hardness))) - (sum(temperature) * sum(hardness))) AS DOUBLE) / CAST(SQRT((CAST((count(temperature) * sum((temperature * temperature))) AS DOUBLE) - (CAST((sum(temperature) * sum(temperature)) AS DOUBLE) * SQRT(CAST(((count(hardness) * sum((hardness * hardness))) - (sum(hardness) * sum(hardness))) AS DOUBLE))))) AS DOUBLE))=nan)]

### PLEASE DON'T REMOVE THIS BLOCK - THE FOLLOWING CODE IS NOT GRADED
#axx
### PLEASE DON'T REMOVE THIS BLOCK - THE FOLLOWING CODE IS NOT GRADED

Now it is time to grab a PARQUET file and create a dataframe out of it. Using SparkSQL you can handle it like a database.

In [256]:
!wget https://github.com/IBM/coursera/blob/master/coursera_ds/washing.parquet?raw=true
!mv washing.parquet?raw=true washing.parquet

--2019-06-23 03:07:30--  https://github.com/IBM/coursera/blob/master/coursera_ds/washing.parquet?raw=true
Resolving github.com (github.com)... 140.82.118.3
Connecting to github.com (github.com)|140.82.118.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/IBM/coursera/raw/master/coursera_ds/washing.parquet [following]
--2019-06-23 03:07:30--  https://github.com/IBM/coursera/raw/master/coursera_ds/washing.parquet
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/IBM/coursera/master/coursera_ds/washing.parquet [following]
--2019-06-23 03:07:30--  https://raw.githubusercontent.com/IBM/coursera/master/coursera_ds/washing.parquet
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.16.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.16.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 112048 (109K) [application/octet-stream]
Saving to: 'washing.parquet?raw=true'

washing.parquet?raw 100%[===================>] 109.42K  --.-KB/s    in 0.008s

2019-06-23 03:07:31 (13.9 MB/s) - 'washing.parquet?raw=true' saved [112048/112048]

In [257]:
df = spark.read.parquet('washing.parquet')
df.createOrReplaceTempView('washing')
df.show()

+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|                 _id|                _rev|count|flowrate|fluidlevel|frequency|hardness|speed|temperature|           ts|voltage|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|0d86485d0f88d1f9d...|1-57940679fb8a713...|    4|      11|acceptable|     null|      77| null|        100|1547808723923|   null|
|0d86485d0f88d1f9d...|1-15ff3a0b304d789...|    2|    null|      null|     null|    null| 1046|       null|1547808729917|   null|
|0d86485d0f88d1f9d...|1-97c2742b68c7b07...|    4|    null|      null|       71|    null| null|       null|1547808731918|    236|
|0d86485d0f88d1f9d...|1-eefb903dbe45746...|   19|      11|acceptable|     null|      75| null|         86|1547808738999|   null|
|0d86485d0f88d1f9d...|1-5f68b4c72813c25...|    7|    null|      null|       75|    null| null|       null|1547808740927|    235|
|0d86485d0f88d1f9d...|1-cd4b6c57ddbe77e...|    5|    null|      null|     null|    null| 1014|       null|1547808744923|   null|
|0d86485d0f88d1f9d...|1-a35b25b5bf43aaf...|   32|      11|acceptable|     null|      73| null|         84|1547808752028|   null|
|0d86485d0f88d1f9d...|1-b717f7289a8476d...|   48|      11|acceptable|     null|      79| null|         84|1547808768065|   null|
|0d86485d0f88d1f9d...|1-c2f1f8fcf178b2f...|   18|    null|      null|       73|    null| null|       null|1547808773944|    228|
|0d86485d0f88d1f9d...|1-15033dd9eebb4a8...|   59|      11|acceptable|     null|      72| null|         96|1547808779093|   null|
|0d86485d0f88d1f9d...|1-753dae825f9a6c2...|   62|      11|acceptable|     null|      73| null|         88|1547808782113|   null|
|0d86485d0f88d1f9d...|1-b168089f44f03f0...|   13|    null|      null|     null|    null| 1097|       null|1547808784940|   null|
|0d86485d0f88d1f9d...|1-403b687c6be0dea...|   23|    null|      null|       80|    null| null|       null|1547808788955|    236|
|0d86485d0f88d1f9d...|1-195551e0455a24b...|   72|      11|acceptable|     null|      77| null|         87|1547808792134|   null|
|0d86485d0f88d1f9d...|1-060a39fc6c2ddee...|   26|    null|      null|       62|    null| null|       null|1547808797959|    233|
|0d86485d0f88d1f9d...|1-2234514bffee465...|   27|    null|      null|       61|    null| null|       null|1547808800960|    226|
|0d86485d0f88d1f9d...|1-4265898bb401db0...|   82|      11|acceptable|     null|      79| null|         96|1547808802154|   null|
|0d86485d0f88d1f9d...|1-2fbf7ca9a0425a0...|   94|      11|acceptable|     null|      73| null|         90|1547808814186|   null|
|0d86485d0f88d1f9d...|1-203c0ee6d7fbd21...|   97|      11|acceptable|     null|      77| null|         88|1547808817190|   null|
|0d86485d0f88d1f9d...|1-47e1965db94fcab...|  104|      11|acceptable|     null|      75| null|         80|1547808824198|   null|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
only showing top 20 rows

Now it is time to connect to the object store and read a PARQUET file and create a dataframe out of it. We've created that data for you already. Using SparkSQL you can handle it like a database.

In [258]:
import ibmos2spark

# @hidden_cell
credentials = {
    'endpoint': 'https://s3-api.us-geo.objectstorage.service.networklayer.com',
    'api_key': 'PUJMZf9PLqN4y-6NUtVlEuq6zFoWhfuecFVMYLBrkxrT',
    'service_id': 'iam-ServiceId-9cd8e66e-3bb4-495a-807a-588692cca4d0',
    'iam_service_endpoint': 'https://iam.bluemix.net/oidc/token'}

configuration_name = 'os_b0f1407510994fd1b793b85137baafb8_configs'
cos = ibmos2spark.CloudObjectStorage(sc, credentials, configuration_name, 'bluemix_cos')

from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
# Since JSON data can be semi-structured and contain additional metadata, it is possible that you might face issues with the DataFrame layout.
# Please read the documentation of 'SparkSession.read()' to learn more about the possibilities to adjust the data loading.
# PySpark documentation: http://spark.apache.org/docs/2.0.2/api/python/pyspark.sql.html#pyspark.sql.DataFrameReader.json

df = spark.read.parquet(cos.url('washing.parquet', 'courseradsnew-donotdelete-pr-1hffrnl2pprwut'))
df.createOrReplaceTempView('washing')
df.show()

+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|                 _id|                _rev|count|flowrate|fluidlevel|frequency|hardness|speed|temperature|           ts|voltage|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|0d86485d0f88d1f9d...|1-57940679fb8a713...|    4|      11|acceptable|     null|      77| null|        100|1547808723923|   null|
|0d86485d0f88d1f9d...|1-15ff3a0b304d789...|    2|    null|      null|     null|    null| 1046|       null|1547808729917|   null|
|0d86485d0f88d1f9d...|1-97c2742b68c7b07...|    4|    null|      null|       71|    null| null|       null|1547808731918|    236|
|0d86485d0f88d1f9d...|1-eefb903dbe45746...|   19|      11|acceptable|     null|      75| null|         86|1547808738999|   null|
|0d86485d0f88d1f9d...|1-5f68b4c72813c25...|    7|    null|      null|       75|    null| null|       null|1547808740927|    235|
|0d86485d0f88d1f9d...|1-cd4b6c57ddbe77e...|    5|    null|      null|     null|    null| 1014|       null|1547808744923|   null|
|0d86485d0f88d1f9d...|1-a35b25b5bf43aaf...|   32|      11|acceptable|     null|      73| null|         84|1547808752028|   null|
|0d86485d0f88d1f9d...|1-b717f7289a8476d...|   48|      11|acceptable|     null|      79| null|         84|1547808768065|   null|
|0d86485d0f88d1f9d...|1-c2f1f8fcf178b2f...|   18|    null|      null|       73|    null| null|       null|1547808773944|    228|
|0d86485d0f88d1f9d...|1-15033dd9eebb4a8...|   59|      11|acceptable|     null|      72| null|         96|1547808779093|   null|
|0d86485d0f88d1f9d...|1-753dae825f9a6c2...|   62|      11|acceptable|     null|      73| null|         88|1547808782113|   null|
|0d86485d0f88d1f9d...|1-b168089f44f03f0...|   13|    null|      null|     null|    null| 1097|       null|1547808784940|   null|
|0d86485d0f88d1f9d...|1-403b687c6be0dea...|   23|    null|      null|       80|    null| null|       null|1547808788955|    236|
|0d86485d0f88d1f9d...|1-195551e0455a24b...|   72|      11|acceptable|     null|      77| null|         87|1547808792134|   null|
|0d86485d0f88d1f9d...|1-060a39fc6c2ddee...|   26|    null|      null|       62|    null| null|       null|1547808797959|    233|
|0d86485d0f88d1f9d...|1-2234514bffee465...|   27|    null|      null|       61|    null| null|       null|1547808800960|    226|
|0d86485d0f88d1f9d...|1-4265898bb401db0...|   82|      11|acceptable|     null|      79| null|         96|1547808802154|   null|
|0d86485d0f88d1f9d...|1-2fbf7ca9a0425a0...|   94|      11|acceptable|     null|      73| null|         90|1547808814186|   null|
|0d86485d0f88d1f9d...|1-203c0ee6d7fbd21...|   97|      11|acceptable|     null|      77| null|         88|1547808817190|   null|
|0d86485d0f88d1f9d...|1-47e1965db94fcab...|  104|      11|acceptable|     null|      75| null|         80|1547808824198|   null|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
only showing top 20 rows

In [259]:
minTemperature(df,spark)

80

In [260]:
meanTemperature(df,spark)

90.03800298062593

In [261]:
maxTemperature(df,spark)

100

In [262]:
sdTemperature(df,spark)

6.1007610586219725

In [263]:
skewTemperature(df,spark)

0.01039837458333609

In [264]:
kurtosisTemperature(df,spark)

1.773427150876989

In [267]:
correlationTemperatureHardness(df,spark)

nan

Congratulations, you are done, please download this notebook as python file using the export function and submit is to the gader using the filename "assignment3.1.py"