### Get credentials

In [7]:

# @hidden_cell
# The following code contains the credentials for a connection in your Project.
# You might want to remove those credentials before you share your notebook.
credentials_1 = {
    'username': '5810aacc-d33d-470b-ae16-e549d7806761-bluemix',
    'password': """36a74f4a408b4e88a7ff07603438ce3f8344593ced5a0c91c5b96ab441030671""",
    'custom_url': 'https://5810aacc-d33d-470b-ae16-e549d7806761-bluemix:36a74f4a408b4e88a7ff07603438ce3f8344593ced5a0c91c5b96ab441030671@5810aacc-d33d-470b-ae16-e549d7806761-bluemix.cloudantnosqldb.appdomain.cloud',
    'url': 'https://undefined'
}

### Create a spark session using the your credential

In [16]:
spark = SparkSession\
    .builder\
    .appName("Cloudant Spark SQL Example in Python using temp tables")\
    .config("cloudant.host",credentials_1['custom_url'].split(':')[2].split('@')[1])\
    .config("cloudant.username", credentials_1['username'])\
    .config("cloudant.password",credentials_1['password'])\
    .config("jsonstore.rdd.partitions", 1)\
    .getOrCreate()

### Read 'washing' dataframe from cloud

In [12]:
#Please don't modify this function
def readDataFrameFromCloudant(database):
    cloudantdata=spark.read.load(database, "com.cloudant.spark")
    cloudantdata.createOrReplaceTempView("washing")
    spark.sql("SELECT * from washing").show()
    return cloudantdata

This old version of the function above - SQL Context is old and we can use spark straight away
def readDataFrameFromCloudant(host,user,pw,database):
    sparkSession = SQLContext.getOrCreate(sc).sparkSession

    cloudantdata=sparkSession.read.format("com.cloudant.spark"). \
    option("cloudant.host",host). \
    option("cloudant.username", user). \
    option("cloudant.password", pw). \
    load(database)

    cloudantdata.createOrReplaceTempView("washing")
    #spark.sql("SELECT * from washing").show()
    return cloudantdata

### View number of tables in Database

In [17]:
 spark.catalog.listTables()

[Table(name='washing', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

### Read the washing dataset

In [18]:
df=readDataFrameFromCloudant(database)

+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|                 _id|                _rev|count|flowrate|fluidlevel|frequency|hardness|speed|temperature|           ts|voltage|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|0bd0ef8d8b443bdbc...|1-754eaff6a7bfdca...|    1|      11|acceptable|     null|      79| null|         85|1561166846273|   null|
|0bd0ef8d8b443bdbc...|1-b0cc819326ca74e...|   17|      11|acceptable|     null|      77| null|         97|1561166862345|   null|
|0bd0ef8d8b443bdbc...|1-e4f61ef0ab43ed7...|   25|      11|acceptable|     null|      73| null|         94|1561166870359|   null|
|0bd0ef8d8b443bdbc...|1-5dfcca29f70e269...|   27|      11|acceptable|     null|      79| null|         92|1561166872362|   null|
|0bd0ef8d8b443bdbc...|1-e904e4c7ac3f4e4...|   11|    null|      null|       72|    null| null|       null|1561166878307|    236|
|0bd0ef8d8b443bdbc...|1-d4f90d3aeb1343f...|   13|    null|      null|       65|    null| null|       null|1561166884308|    235|
|0bd0ef8d8b443bdbc...|1-825cd79ee17e24c...|   44|      11|acceptable|     null|      72| null|         82|1561166889393|   null|
|0bd0ef8d8b443bdbc...|1-a7c956acc400220...|   16|    null|      null|       60|    null| null|       null|1561166893322|    221|
|0bd0ef8d8b443bdbc...|1-376c26b66003433...|   49|      11|acceptable|     null|      73| null|         97|1561166894400|   null|
|0bd0ef8d8b443bdbc...|1-98cfec14a7a3b0c...|    1|    null|      null|       60|    null| null|       null|1561166900415|    231|
|0bd0ef8d8b443bdbc...|1-4f562e86208e322...|    8|      11|acceptable|     null|      73| null|         84|1561166905389|   null|
|0bd0ef8d8b443bdbc...|1-40e9175a461b293...|   12|      11|acceptable|     null|      73| null|         97|1561166909406|   null|
|0bd0ef8d8b443bdbc...|1-6b09dc9d25b51c8...|   13|      11|acceptable|     null|      71| null|         93|1561166910409|   null|
|0bd0ef8d8b443bdbc...|1-5ea508478364669...|   25|      11|acceptable|     null|      77| null|         95|1561166922436|   null|
|0bd0ef8d8b443bdbc...|1-e5dcabedc7aecd0...|   26|      11|acceptable|     null|      70| null|         82|1561166923492|   null|
|0bd0ef8d8b443bdbc...|1-f60bf20715d8884...|    6|    null|      null|     null|    null| 1008|       null|1561166927427|   null|
|0bd0ef8d8b443bdbc...|1-05c4f1c60a80404...|   59|      11|acceptable|     null|      74| null|         83|1561166956596|   null|
|0bd0ef8d8b443bdbc...|1-13e94a71cb9d15b...|   79|      11|acceptable|     null|      76| null|         89|1561166976635|   null|
|0bd0ef8d8b443bdbc...|1-8a2a291229923d4...|   80|      11|acceptable|     null|      73| null|         80|1561166977636|   null|
|0bd0ef8d8b443bdbc...|1-2bb7d834a39a60e...|   18|    null|      null|     null|    null| 1072|       null|1561166987462|   null|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
only showing top 20 rows

### A more simple way to read the table

In [19]:
spark.sql("SELECT * from washing").show() #read all columns

+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|                 _id|                _rev|count|flowrate|fluidlevel|frequency|hardness|speed|temperature|           ts|voltage|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|0bd0ef8d8b443bdbc...|1-754eaff6a7bfdca...|    1|      11|acceptable|     null|      79| null|         85|1561166846273|   null|
|0bd0ef8d8b443bdbc...|1-b0cc819326ca74e...|   17|      11|acceptable|     null|      77| null|         97|1561166862345|   null|
|0bd0ef8d8b443bdbc...|1-e4f61ef0ab43ed7...|   25|      11|acceptable|     null|      73| null|         94|1561166870359|   null|
|0bd0ef8d8b443bdbc...|1-5dfcca29f70e269...|   27|      11|acceptable|     null|      79| null|         92|1561166872362|   null|
|0bd0ef8d8b443bdbc...|1-e904e4c7ac3f4e4...|   11|    null|      null|       72|    null| null|       null|1561166878307|    236|
|0bd0ef8d8b443bdbc...|1-d4f90d3aeb1343f...|   13|    null|      null|       65|    null| null|       null|1561166884308|    235|
|0bd0ef8d8b443bdbc...|1-825cd79ee17e24c...|   44|      11|acceptable|     null|      72| null|         82|1561166889393|   null|
|0bd0ef8d8b443bdbc...|1-a7c956acc400220...|   16|    null|      null|       60|    null| null|       null|1561166893322|    221|
|0bd0ef8d8b443bdbc...|1-376c26b66003433...|   49|      11|acceptable|     null|      73| null|         97|1561166894400|   null|
|0bd0ef8d8b443bdbc...|1-98cfec14a7a3b0c...|    1|    null|      null|       60|    null| null|       null|1561166900415|    231|
|0bd0ef8d8b443bdbc...|1-4f562e86208e322...|    8|      11|acceptable|     null|      73| null|         84|1561166905389|   null|
|0bd0ef8d8b443bdbc...|1-40e9175a461b293...|   12|      11|acceptable|     null|      73| null|         97|1561166909406|   null|
|0bd0ef8d8b443bdbc...|1-6b09dc9d25b51c8...|   13|      11|acceptable|     null|      71| null|         93|1561166910409|   null|
|0bd0ef8d8b443bdbc...|1-5ea508478364669...|   25|      11|acceptable|     null|      77| null|         95|1561166922436|   null|
|0bd0ef8d8b443bdbc...|1-e5dcabedc7aecd0...|   26|      11|acceptable|     null|      70| null|         82|1561166923492|   null|
|0bd0ef8d8b443bdbc...|1-f60bf20715d8884...|    6|    null|      null|     null|    null| 1008|       null|1561166927427|   null|
|0bd0ef8d8b443bdbc...|1-05c4f1c60a80404...|   59|      11|acceptable|     null|      74| null|         83|1561166956596|   null|
|0bd0ef8d8b443bdbc...|1-13e94a71cb9d15b...|   79|      11|acceptable|     null|      76| null|         89|1561166976635|   null|
|0bd0ef8d8b443bdbc...|1-8a2a291229923d4...|   80|      11|acceptable|     null|      73| null|         80|1561166977636|   null|
|0bd0ef8d8b443bdbc...|1-2bb7d834a39a60e...|   18|    null|      null|     null|    null| 1072|       null|1561166987462|   null|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
only showing top 20 rows

### Perform other sql operations

In [42]:
spark.sql("SELECT count, flowrate from washing").show()

+-----+--------+
|count|flowrate|
+-----+--------+
|    1|      11|
|   17|      11|
|   25|      11|
|   27|      11|
|   11|    null|
|   13|    null|
|   44|      11|
|   16|    null|
|   49|      11|
|    1|    null|
|    8|      11|
|   12|      11|
|   13|      11|
|   25|      11|
|   26|      11|
|    6|    null|
|   59|      11|
|   79|      11|
|   80|      11|
|   18|    null|
+-----+--------+
only showing top 20 rows

In [43]:
spark.sql("SELECT avg(count) from washing").show()

+------------------+
|        avg(count)|
+------------------+
|1150.2906716054197|
+------------------+

In [45]:
dg = spark.sql("SELECT count, _id, ts, flowrate from washing where count == 1").show()

+-----+--------------------+-------------+--------+
|count|                 _id|           ts|flowrate|
+-----+--------------------+-------------+--------+
|    1|0bd0ef8d8b443bdbc...|1561166846273|      11|
|    1|0bd0ef8d8b443bdbc...|1561166900415|    null|
|    1|454cbaec282fccd48...|1561207705978|    null|
|    1|63472e2e44b079f75...|1561170041154|    null|
|    1|6fbf29584249a1736...|1561166898371|      11|
|    1|6fbf29584249a1736...|1561166902416|    null|
|    1|6fbf29584249a1736...|1561170039152|    null|
|    1|8a367a83283a10464...|1561170037097|      11|
|    1|a675ce7a8c9004500...|1561207743381|    null|
|    1|a8be7c7cedcd74028...|1561166898371|      11|
|    1|b289e2c40692882b0...|1561166850284|    null|
|    1|b8c85c327127e0edc...|1561166848285|    null|
|    1|c5087965041b69ae6...|1561207739249|      11|
|    1|c5087965041b69ae6...|1561207741419|    null|
|    1|dc2a30653bd8820c5...|1561207701748|      11|
|    1|dc2a30653bd8820c5...|1561207703933|    null|
|    1|ecf60efc41997c496...|1561207739249|      11|
+-----+--------------------+-------------+--------+