### Assignment 2
Welcome to Assignment 2. This will be fun. It is the first time you actually access external data from ApacheSpark. 

Just make sure you hit the play button on each cell from top to down. There are three functions you have to implement. Please also make sure than on each change on a function you hit the play button again on the corresponding cell to make it available to the rest of this notebook.

##### Please also make sure to only implement the function bodies and DON'T add any additional code outside functions since this might confuse the autograder.

So the function below is used to make it easy for you to create a data frame from a Cloud Object Store data frame using the so called "DataSource" which is some sort of a plugin which allows ApacheSpark to use different data sources.

This is the first function you have to implement. You are passed a dataframe object. We've also registered the dataframe in the ApacheSparkSQL catalog - so you can also issue queries against the "washing" table using "spark.sql()". Hint: To get an idea about the contents of the catalog you can use: spark.catalog.listTables().
So now it's time to implement your first function. You are free to use the dataframe API, SQL or RDD API. In case you want to use the RDD API just obtain the encapsulated RDD using "df.rdd". You can test the function by running one of the three last cells of this notebook, but please make sure you run the cells from top to down since some are dependant of each other...

In [20]:
credentials_1 = {
  'password':"""36a74f4a408b4e88a7ff07603438ce3f8344593ced5a0c91c5b96ab441030671""",
  'custom_url':'https://5810aacc-d33d-470b-ae16-e549d7806761-bluemix:36a74f4a408b4e88a7ff07603438ce3f8344593ced5a0c91c5b96ab441030671@5810aacc-d33d-470b-ae16-e549d7806761-bluemix.cloudantnosqldb.appdomain.cloud',
  'username':'5810aacc-d33d-470b-ae16-e549d7806761-bluemix',
  'url':'https://undefined'
}

In [ ]:
#Please implement a function returning the number of rows in the dataframe
def count(df,spark):
    #TODO Please enter your code here, you are not required to use the template code below
    #some reference: https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame
    return spark.sql('select ### as cnt from washing').first().cnt

In [16]:
def count(df,spark):
    #TODO Please enter your code here
    df = spark.sql("SELECT *  from washing")
    df_ret = df
    return df_ret

In [17]:
def getNumberOfFields(df,spark):
    #TODO Please enter your code here
    column_count = len(df.columns)
    return column_count

In [18]:
#Please don't modify this function
def readDataFrameFromCloudant(database):
    cloudantdata=spark.read.load(database, "com.cloudant.spark")
    cloudantdata.createOrReplaceTempView("washing")
    spark.sql("SELECT * from washing").show()
    return cloudantdata

In [21]:
spark = SparkSession\
    .builder\
    .appName("Cloudant Spark SQL Example in Python using temp tables")\
    .config("cloudant.host",credentials_1['custom_url'].split(':')[2].split('@')[1])\
    .config("cloudant.username", credentials_1['username'])\
    .config("cloudant.password",credentials_1['password'])\
    .config("jsonstore.rdd.partitions", 1)\
    .getOrCreate()

In [22]:


df=readDataFrameFromCloudant(database)

+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|                 _id|                _rev|count|flowrate|fluidlevel|frequency|hardness|speed|temperature|           ts|voltage|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|0bd0ef8d8b443bdbc...|1-754eaff6a7bfdca...|    1|      11|acceptable|     null|      79| null|         85|1561166846273|   null|
|0bd0ef8d8b443bdbc...|1-b0cc819326ca74e...|   17|      11|acceptable|     null|      77| null|         97|1561166862345|   null|
|0bd0ef8d8b443bdbc...|1-e4f61ef0ab43ed7...|   25|      11|acceptable|     null|      73| null|         94|1561166870359|   null|
|0bd0ef8d8b443bdbc...|1-5dfcca29f70e269...|   27|      11|acceptable|     null|      79| null|         92|1561166872362|   null|
|0bd0ef8d8b443bdbc...|1-e904e4c7ac3f4e4...|   11|    null|      null|       72|    null| null|       null|1561166878307|    236|
|0bd0ef8d8b443bdbc...|1-d4f90d3aeb1343f...|   13|    null|      null|       65|    null| null|       null|1561166884308|    235|
|0bd0ef8d8b443bdbc...|1-825cd79ee17e24c...|   44|      11|acceptable|     null|      72| null|         82|1561166889393|   null|
|0bd0ef8d8b443bdbc...|1-a7c956acc400220...|   16|    null|      null|       60|    null| null|       null|1561166893322|    221|
|0bd0ef8d8b443bdbc...|1-376c26b66003433...|   49|      11|acceptable|     null|      73| null|         97|1561166894400|   null|
|0bd0ef8d8b443bdbc...|1-98cfec14a7a3b0c...|    1|    null|      null|       60|    null| null|       null|1561166900415|    231|
|0bd0ef8d8b443bdbc...|1-4f562e86208e322...|    8|      11|acceptable|     null|      73| null|         84|1561166905389|   null|
|0bd0ef8d8b443bdbc...|1-40e9175a461b293...|   12|      11|acceptable|     null|      73| null|         97|1561166909406|   null|
|0bd0ef8d8b443bdbc...|1-6b09dc9d25b51c8...|   13|      11|acceptable|     null|      71| null|         93|1561166910409|   null|
|0bd0ef8d8b443bdbc...|1-5ea508478364669...|   25|      11|acceptable|     null|      77| null|         95|1561166922436|   null|
|0bd0ef8d8b443bdbc...|1-e5dcabedc7aecd0...|   26|      11|acceptable|     null|      70| null|         82|1561166923492|   null|
|0bd0ef8d8b443bdbc...|1-f60bf20715d8884...|    6|    null|      null|     null|    null| 1008|       null|1561166927427|   null|
|0bd0ef8d8b443bdbc...|1-05c4f1c60a80404...|   59|      11|acceptable|     null|      74| null|         83|1561166956596|   null|
|0bd0ef8d8b443bdbc...|1-13e94a71cb9d15b...|   79|      11|acceptable|     null|      76| null|         89|1561166976635|   null|
|0bd0ef8d8b443bdbc...|1-8a2a291229923d4...|   80|      11|acceptable|     null|      73| null|         80|1561166977636|   null|
|0bd0ef8d8b443bdbc...|1-2bb7d834a39a60e...|   18|    null|      null|     null|    null| 1072|       null|1561166987462|   null|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
only showing top 20 rows

In [23]:


count(df,spark)

DataFrame[_id: string, _rev: string, count: bigint, flowrate: bigint, fluidlevel: string, frequency: bigint, hardness: bigint, speed: bigint, temperature: bigint, ts: bigint, voltage: bigint]

In [24]:
getNumberOfFields(df,spark)

11

In [26]:


def getFieldNames(df,spark):
    #TODO Please enter your code here
    column = df.schema.names
    return column

In [27]:


getFieldNames(df,spark)

['_id',
 '_rev',
 'count',
 'flowrate',
 'fluidlevel',
 'frequency',
 'hardness',
 'speed',
 'temperature',
 'ts',
 'voltage']

In [ ]:
{
  "apikey": "mxWUYlp0HNLXPHeeChMiXlTOT03rxgBGzONfNwE_ep1f",
  "host": "5810aacc-d33d-470b-ae16-e549d7806761-bluemix.cloudantnosqldb.appdomain.cloud",
  "iam_apikey_description": "Auto-generated for key 8d6b1728-14b7-4a05-8845-dbc3b086bc33",
  "iam_apikey_name": "Credentials-po",
  "iam_serviceid_crn": "crn:v1:bluemix:public:iam-identity::a/d59d039ea26b4da1806ba2f45a7997ba::serviceid:ServiceId-fe15cfbe-5576-4f10-b79b-168ff8060c31",
  "password": "36a74f4a408b4e88a7ff07603438ce3f8344593ced5a0c91c5b96ab441030671",
  "port": 443,
  "url": "https://5810aacc-d33d-470b-ae16-e549d7806761-bluemix:36a74f4a408b4e88a7ff07603438ce3f8344593ced5a0c91c5b96ab441030671@5810aacc-d33d-470b-ae16-e549d7806761-bluemix.cloudantnosqldb.appdomain.cloud",
  "username": "5810aacc-d33d-470b-ae16-e549d7806761-bluemix"
}

In [7]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [14]:
#TODO Please provide your Cloudant credentials here
hostname = "5810aacc-d33d-470b-ae16-e549d7806761-bluemix.cloudantnosqldb.appdomain.cloud"
user = "5810aacc-d33d-470b-ae16-e549d7806761-bluemix"
pw = "36a74f4a408b4e88a7ff07603438ce3f8344593ced5a0c91c5b96ab441030671",
database = "washing2" #as long as you didn't change this in the NodeRED flow the database name stays the same
cloudantdata=readDataFrameFromCloudant(hostname, user, pw, database)

NameError: name 'option' is not defined

In [ ]:
{
  "apikey": "mxWUYlp0HNLXPHeeChMiXlTOT03rxgBGzONfNwE_ep1f",
  "host": "5810aacc-d33d-470b-ae16-e549d7806761-bluemix.cloudantnosqldb.appdomain.cloud",
  "iam_apikey_description": "Auto-generated for key 8d6b1728-14b7-4a05-8845-dbc3b086bc33",
  "iam_apikey_name": "Credentials-po",
  "iam_serviceid_crn": "crn:v1:bluemix:public:iam-identity::a/d59d039ea26b4da1806ba2f45a7997ba::serviceid:ServiceId-fe15cfbe-5576-4f10-b79b-168ff8060c31",
  "password": "36a74f4a408b4e88a7ff07603438ce3f8344593ced5a0c91c5b96ab441030671",
  "port": 443,
  "url": "https://5810aacc-d33d-470b-ae16-e549d7806761-bluemix:36a74f4a408b4e88a7ff07603438ce3f8344593ced5a0c91c5b96ab441030671@5810aacc-d33d-470b-ae16-e549d7806761-bluemix.cloudantnosqldb.appdomain.cloud",
  "username": "5810aacc-d33d-470b-ae16-e549d7806761-bluemix"
}

In [5]:
spark.sql("SELECT * from washing").show()

AnalysisException: 'Table or view not found: washing; line 1 pos 14'

In [ ]:
#Please implement a function returning the number of rows in the dataframe
def count(df,spark):
    #TODO Please enter your code here, you are not required to use the template code below
    #some reference: https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame
    return spark.sql('select ### as cnt from washing').first().cnt

Now it's time to implement the second function. Please return an integer containing the number of fields. The most easy way to get this is using the dataframe API. Hint: You might find the dataframe API documentation useful: http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame

In [ ]:
def getNumberOfFields(df,spark):
    #TODO Please enter your code here, you are not required to use the template code below
    #some reference: https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame
    return len(df.###)

Finally, please implement a function which returns a (python) list of string values of the field names in this data frame. Hint: Just copy&past doesn't work because the auto-grader will create a random data frame for testing, so please use the data frame API as well. Again, this is the link to the documentation: http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame

In [ ]:
def getFieldNames(df,spark):
    #TODO Please enter your code here, you are not required to use the template code below
    #some reference: https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame
    return df.###

### PLEASE DON'T REMOVE THIS BLOCK - THE FOLLOWING CODE IS NOT GRADED
#axx
### PLEASE DON'T REMOVE THIS BLOCK - THE FOLLOWING CODE IS NOT GRADED
So after this block you can basically do what you like since the auto-grader is not considering this part of the notebook

Now it is time to grab a PARQUET file and create a dataframe out of it. Using SparkSQL you can handle it like a database.

In [ ]:
!wget https://github.com/IBM/coursera/blob/master/coursera_ds/washing.parquet?raw=true
!mv washing.parquet?raw=true washing.parquet

In [ ]:
df = spark.read.parquet('washing.parquet')
df.createOrReplaceTempView('washing')
df.show()

The following cell can be used to test your count function

In [ ]:
count(df,spark)

The following cell can be used to test your getNumberOfFields function

In [ ]:
getNumberOfFields(df,spark)

The following cell can be used to test your getFieldNames function

In [ ]:
getFieldNames(df,spark)

Congratulations, you are done. So please export this notebook as python script using the "File->Download as->Python (.py)" option in the menue of this notebook. This file should be named "assignment2.1.py" and uploaded to the autograder of week2.