In [1]:
import pandas as pd

In [2]:
data  = pd.read_csv("latitude.csv")

In [3]:
data.head()

          region  longitude  latitude  population
0     Upper East   10.78556  -0.98210     1273677
1        Eastern    6.09408  -0.25913     3244834
2    Brong Ahafo    7.33991  -2.32676     2850607
3        Central    5.10535  -1.24660     2563228
4  Greater Accra    5.55602  -0.19690     4943075

In [4]:
[b]

NameError: name 'b' is not defined

b=2

a = 3